.ai-chat-controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-control {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
