.split-layout {
  display: flex;
  flex-direction: row;
  width: 800px;
  height: 350px;
  margin-bottom: 230px;
  gap: 60px;
}

.chat-side {
  flex: 1;
  align-self: flex-start;
}

.split-border {
  width: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0;
  align-self: stretch;
}

.answer-side {
  display: flex;
  height: 100%;
}

.answer-placeholder {
  text-align: left;
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  color: rgba(255, 255, 255, 0.85);
  font-size: 80px;
  border-radius: 8px;
}

.answer-container {
  align-self: flex-end;
  display: flex;
  align-items: center;
  height: 280px;
  overflow-y: auto;
  padding-right: 5px;
}

/* Scrollbar Styling */
.answer-container::-webkit-scrollbar {
  width: 4px;
}

.answer-container::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.answer-container::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.6);
}

.loading-answer {
  animation: pulse-opacity 0.5s infinite alternate;
}

@keyframes pulse-opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.6;
  }
}
