.message-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto 30px;
  overflow-y: auto;
  padding: 20px;
}

.message {
  margin-bottom: 20px;
  max-width: 90%;
  text-align: center;
  color: white;

  &.user {
    font-style: italic;
    opacity: 0.8;
  }

  &.ai {
    font-weight: 300;
  }
}

.message-content {
  word-break: break-word;
  line-height: 1.6;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px 25px;
  border-radius: 4px;
  backdrop-filter: blur(5px);
}

.user-message {
  opacity: 0.8;
}
