@use "./variables.scss" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: transparent;
  --border-color: rgba(255, 255, 255, 0.2);
  --text-color: #ffffff;
  --ai-message-bg: rgba(0, 0, 0, 0.3);
  --user-message-bg: rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Caveat", cursive, sans-serif, Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.app-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.copyright {
  position: fixed;
  bottom: 26px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.55);
  z-index: 1001;
  font-size: 400;
}

.display-none {
  display: none;
}

.display-inline-block {
  display: inline-block;
}

// add a circle on top left corner of .app-container using after psudo
.app-container::after {
  content: "xxl screen";
  position: absolute;
  top: 15px;
  left: 15px;
}

@media (max-width: $screen-desktop-1920) {
  .app-container::after {
    content: "1920px";
  }
  .copyright {
    font-size: 18px;
  }
}

@media (max-width: $screen-desktop-1536) {
  .app-container::after {
    content: "1536px";
  }
  .copyright {
    font-size: 15px;
  }
}

@media (max-width: $screen-desktop-1366) {
  .app-container::after {
    content: "1366px";
  }
  .copyright {
    font-size: 13px;
  }
}
